@charset "UTF-8";

:root {
    --cor0: #ffffff;
    --cor1: #ffc80091;
    --cor2: #e6b400bc;
    --cor3: #05003ee6;
    --cor4: #05003e;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor4);
    padding: 0px;
    margin: 0px;
}

header {
    margin: 80px auto 40px auto;
    font-size: 18pt;
    text-align: center;
    color: var(--cor0);
}

section {
    background-color: var(--cor0);
    margin: auto;
    margin-top: 0px;
    padding-bottom: 15px;
    max-width: 650px;
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000071;
    text-align: center;
}

div > p {
    font-size: 20pt;
    padding-top: 50px;
    margin: 0px;
}

div > img {border-radius: 100%;margin: auto;}

footer {
    text-align: center;
    color: var(--cor0);
    margin-top: 50px;
    margin-bottom: 0px;
    font-style: italic;
}

