* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #212529;
    --border-color: #666;
    --hover-color: #2c3136;
    --font-color: #f1f5f9;
    --green-color: #4dff91;
    --player-1-color: #0000ff;
    --player-2-color: #ff0043;   
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    background: var(--bg-color);
    color: var(--font-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 40px;

    margin: 0 auto;
    min-width: 30rem;
    max-width: 480px;
}

header {
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: row;
}

#div-input {
    display: flex;
    flex-direction: column;
}

#btn-play {
    width: 80px;
    height: 50px;

    background: var(--green-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;

    font-weight: 800;
    font-size: 20px;
    color: #286f43;
}

#btn-play:hover {
    background: #49f089;
}

input {
    height: 30px;
    width: 120px;
    border: 1px solid var(--border-color);
    color: var(--font-color);
}

input::placeholder {
    color: var(--font-color);
}

#input-p1 {
    border-radius: 15px;
    background: var(--player-1-color);
}

#input-p2 {
    border-radius: 15px;
    background: var(--player-2-color);
}

#section-game {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    background: #787c802f;
}
.block > p {
    width: 150px;
    height: 150px;
    font-size: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block:hover {
    background: #66666667;
}

#section-info {
    margin: auto;
    padding: 10px;

    width: 450px;
    height: 150px;
    
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: var(--border-color);
}

#div-inp-p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#p-name-p1 {
    margin-bottom: 10px;
    font-size: 20px;
}

#p-inp-p1 {
    font-size: 40px;
}

#div-inp-p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#p-name-p2 {
    margin-bottom: 10px;
    font-size: 20px;
}

#p-inp-p2 {
    font-size: 40px;
}

#div-p1 {
    order: 1;
    font-size: 30px;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#div-display {
    order: 2;
}

#div-p2 {
    order: 3;
    font-size: 30px;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#div-inp-p1 {
    order: 1;
}

#div-inp-p2 {
    order: 2;
}
footer {
    margin-top: 20px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--border-color);
}

.p1 {
    color: var(--player-1-color);
}

.p2 {
    color: var(--player-2-color);
}

#arrow {
    font-size: 30px;
    font-weight: 900;
}

#x {
    font-size: 40px;
    color: var(--player-1-color);
}

#o {
    font-size: 40px;
    color: var(--player-2-color);
}