* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color-01: #212529;
    --bg-color-02: #666;
    --font-color: #f1f5f9;
    --player-1-color: #0038ff;
    --player-2-color: #ff0043;
    --win-color: #4dff91;
    --btn-color: #25a340;
}

html {
    height: 100%;
}

body {
    background: var(--bg-color-02);
    color: var(--font-color);
    font-family: sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

#div-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    width: 100%;
}

#section-turn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0px 25px;
}

#start {
    width: 90px;
    height: 45px;

    border: none;
    border-radius: 45px;

    font-weight: 800;

    background: var(--btn-color);
    color: var(--win-color);
}

#start:hover {
    background: #3bc55d;
    color: #005913;
}

#gameBoard {
    background-color: var(--bg-color-01);
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: 0.5rem;
    max-width: 19rem;
    margin: 2rem auto;
}

#gameBoard span {
    background: #ddd;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

#display {
    background: #333;
    border-radius: 20px;
    min-width: 25rem;
    min-height: 10rem;
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

#div-players {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#display-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#display-div-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

label {
    font-size: 50px;
    font-weight: 700;
}

#display-div-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player-1 {
    background: var(--player-1-color);
    color: var(--font-color);
    text-indent: 10px;
    
    width: 120px;
    height: 30px;
    
    border: none;
    border-radius: 15px;
    
    font-size: 17px;
}

#player-1::placeholder {
    color: var(--font-color);
}

#player-2 {
    background: var(--player-2-color);
    color: var(--font-color);
    text-indent: 10px;
    
    width: 120px;
    height: 30px;
    
    border: none;
    border-radius: 15px;
    
    font-size: 17px;
}

#player-2::placeholder {
    color: var(--font-color);
}

footer {
    background: #333;
    width: 100%;
    height: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameBoard span.win {
    color: var(--win-color);
}

#gameBoard span.p1 {
    color: var(--player-1-color);
}

#gameBoard span.p2 {
    color: var(--player-2-color);
}

.cursor-pointer {
    cursor: pointer;
}

