* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #040140;
    color: #00e297;
    padding: 25px;
}

form {
    display: none;
    background-color: #00e2975d;
}

#lineup-form {
    display: none;
}

#div-return-form {
    display: none;
}