<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Register</title>
</head>
<body>
  <header>
    <h1>Register:</h1>
  </header>
  <form action="/register" method="post" id="form_register">
    <div id="name">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div id="email">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div id="password">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div id="submit">
      <input type="submit" name="submit" id="submit" value="submit" class="btn">
    </div>
  </form>
  <footer>
    <p>Developed by <a href="https://github.com/andretffarias" target="_blank" class="link">&copy;André Farias.</a></p>
  </footer>
</body>
</html>