.card {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background: #FFFFFF;
}

.headerCard {
  text-align: center;
  height: 50px;
  border-bottom: 2px solid black;
}

.headerCard > p {
  font-size: 1.5rem;
  font-weight: 700;
}