.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 30px;

    width: 600px;
    min-height: 350px;
    
    padding: 25px;
    border-radius: 25px;

    background-color: #c9c9c9;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
    width: 400px;
}

img {
    width: 150px;
    height: 150px;

    border-radius: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bio > p {
    margin-left: 20px;
    font-weight: 500;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactChildren {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: 600;
    padding-left: 20px;

    color: #29217b;
}

.socialMedias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px;
}

.btn {
    font-weight: 700;

    border: 0px;
    border-radius: 10px;

    width: 70px;
    height: 40px;

    cursor: pointer;
    transition-delay: 0.2s;

    color: #dadada;
    background-color: #0095be;
}

.btn:hover {
    background-color: #2b41bc;
}